html, body {
    color: #2b3235;
    font-family: sans-serif;
    background-color: #8b8b8b;
    margin: 0;
    padding: 0;
    height: calc(100% - 50px);
}



header {
    background-color: #515E63;
    color: #F1ECC3;
    padding: 1px;
    
    border-radius: 12px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    
    display: flex;
    justify-content: center;
}

#noteList {
    background-color: #57837B;
    border-radius: 12px;

    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;

    width: 30%;
    text-align: center;
    
    overflow: auto;

    display: flex;
    flex-direction: column;
    align-items: stretch;
}

img {
    width: 35px;
    align-self: center;
    margin-top: -15px;
    margin-bottom: 16px;
    margin-left: 3px;
    margin-right: 3px;


    transition: opacity .3s;
    transition: transform .3s;

}

img:hover {
    cursor: pointer;
    opacity: .8;
    transform: scale(1.1);
}

img:active {
    transition: transform 0s;
    transform: none;
    opacity: 1;
}

.actions {
    /* background-color: aqua; */
    padding-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.actions img {
    margin: 0 1rem;
}


.eachNote{
    background-color: #F1ECC3;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;

    transition: filter .3s;
    transition: transform .3s;
}

.eachNote:hover {
    cursor: pointer;
    transform: scale(.97);
    filter: brightness(1.2);
}
.eachNote:active {
    transition: transform 0s;
    transform: none;
    filter: none;
}

#openedNote {
    background-color: #C9D8B6;
    border-radius: 12px;

    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;

    width: 70%;
    display: flex;
    flex-direction: column;
    overflow: auto;

}

#openedNote .no-notes {
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    font-size: 3rem;
}

h1, h2 {
    font-family: 'Poppins', sans-serif;
}

#openedNote h2{
    text-align: center;
    font-size: 2rem;
}

#openedNote p{
    padding-left: 2%;
    padding-right: 2%;
    font-size: 1.4375rem;
}

#inputTitle{
    background-color: #C9D8B6;
    
    border-radius: 12px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;


    width: 99%;
    height: 10%;
    font-size: 25px;
    text-align: center;
    resize: none;
    /* line-height: 30px; */

    padding-top: 2rem;
    padding-bottom: 0;
    /* ----Tira a borda destacada ao clicar---- */
    outline: none;

}

#inputNote{
    background-color: #C9D8B6;
    border-radius: 12px;
    width: 95%;
    height: 80%;
    font-size: 25px;
    resize: none;
    padding: 1rem;

    border: none;

    /* ----Tira a borda destacada ao clicar---- */
    outline: none;
}

#content {
    display: flex;
    align-items: stretch;
    height: 100%;   
}

div #top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

div #top img {
    width: 2.5rem;
    margin: auto 0;
    margin-left: 1rem;
}
        
div #top h2 {
    margin-right: auto;
    margin-left: 8rem;
}


/* Barra de rolagem  */

::-webkit-scrollbar{
    width: 12px;
    height: 8px;
    }

    ::-webkit-scrollbar-thumb{
    background: #648897;
    border-radius: 0px;
    }
    ::-webkit-scrollbar-thumb:hover{
    background: #B5B1B2;
    }
    ::-webkit-scrollbar-track{
    background: #F0F0F0;
    border-radius: 0px;
    box-shadow: inset 0px 0px 0px 0px #F0F0F0;
    }